page-help {
  .title {
    text-align: center;
  }

  ion-slides {
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
  }

  ion-slide img {
    height: 70vh !important;
    width: auto !important;
  }

  .swiper-pagination-bullet {
    background-color: map-get($colors, light);
  }

  .media-btn {
    width: 70%;
    font-size: 20px;
  }

}
