page-help {
  .title {
    text-align: center;
  }

  ion-slides {
    background-color: navy;
    color: white;
  }

  ion-slide img {
    height: 70vh !important;
    width: auto !important;
  }

  #start-btn {
    background-color: white;
    color: navy;
  }
}
