page-help {
  .title {
    text-align: center;
  }

  ion-slides {
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
  }

  ion-slide img {
    height: 70vh !important;
    width: auto !important;
  }

}
